{% raw %}
# See
# http://docs.celeryproject.org/en/latest/tutorials/daemonizing.html#available-options
export BROKER="{{ kraken_broker }}"
export BROKER_USER="{{ rabbitmq_user }}"
export BROKER_PASSWD="{{ rabbitmq_password }}"
export SLACK_KRAKEN_TOKEN="{{ slack_kraken_token }}"
ENV_PYTHON="{{ kraken_venv }}/bin/python"
CELERY_APP="{{ kraken_pkg_name }}.tasks"
CELERYD_NODES="{{ kraken_service_name }}-worker"
CELERYD_OPTS="--autoscale={{ celery_min_procs }},{{ celery_max_procs }}"
CELERY_BIN="{{ kraken_venv }}/bin/celery"
CELERYD_PID_FILE="{{ kraken_run_path }}/%n.pid"
CELERYD_LOG_FILE="{{ kraken_log_path }}/{{ kraken_service_name }}.log"
CELERYD_LOG_LEVEL="{{ kraken_log_level }}"
CELERYD_USER=phicus
CELERYD_GROUP=phicus
CELERY_CREATE_DIRS=1
{% endraw %}